<style>
  #footer-component .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #footer-component .container div {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #footer-component .container ul {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 900px;
  }
  #copyright-text {
    padding: 0;
    margin: 0;
    width: 110px;
  }
</style>
<footer id="footer-component">
  <div class="footy-sec mn no-margin">
    <div class="container">
      <ul>
        <li><a href="#" title="">Help Center</a></li>
        <li><a href="#" title="">Privacy Policy</a></li>
        <li><a href="#" title="">Community Guidelines</a></li>
        <li><a href="#" title="">Cookies Policy</a></li>
        <li><a href="#" title="">Career</a></li>
        <li><a href="#" title="">Forum</a></li>
        <li><a href="#" title="">Language</a></li>
        <li><a href="#" title="">Copyright Policy</a></li>
      </ul>
      <div>
        <img
          class="fl-rgt"
          src="images/logo2.png"
          alt=""
          style="padding: 0; margin: 0; margin-right: 20px"
        />
        <p id="copyright-text">
          <img src="images/copy-icon2.png" alt="" />Copyright 2021
        </p>
      </div>
    </div>
  </div>
</footer>
<!--footer-->
